extends layout

block content
  script.
    var redirect = function() {
      var unitString = document.getElementById("unitString").value;
      console.log(unitString);
      if (document.location.hostname == "localhost"){
        window.location = "http://localhost:3000/api/?unit_string=" + unitString;
      }
      else {
        window.location = "http://si-units.herokuapp.com/api/?unit_string=" + unitString;
      }
    }
  h1 Welcome to #{title}
  p.
    Quickly convert some combination of units into SI units.  This program will also give you a conversion factor
  input( type = "text" id = "unitString")
  input( type = "submit" value = "Convert" onclick = "redirect()")
